ion-header{
    --ion-background-color:#6386AA;
}

ion-content{
    --ion-background-color:#99B9DA;
}

.finicio{
    height:100px;
}

.textcard{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: medium;
}

.titulo1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titulotop{
    text-align: center;
    
}

.texto{
    font-family: 'Times New Roman', Times, serif;
}


.imgresp{
    width: 100%;
    padding-right: auto;
    padding-left: auto;
    margin-right: auto;
    margin-left: auto;
}