<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button 
              defaultHref="/"
              text="Back"
              color="primary"
              mode="ios"></ion-back-button>
      </ion-buttons>
    <ion-title>Registrarse</ion-title>
    
<ion-avatar slot="end">
  <img src="/assets/usuario.jpg" />
</ion-avatar>

  </ion-toolbar>
</ion-header>


<ion-content >

  <ion-item >
    <ion-label  position="floating" color="secondary" class="font" >Ingrese su nombre: </ion-label>
    <ion-input  class="font" type="text" placeholder="Nombre:"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="secondary" class="font">Ingrese su apellido: </ion-label>
    <ion-input class="font" type="text" placeholder="Apellido:"></ion-input>
  </ion-item>

  

  <ion-item>
    <ion-label position="floating" color="secondary" class="font">Género </ion-label>
    <ion-select class="font" placeholder="Seleccione una opción">
      <ion-select-option value="f">Mujer</ion-select-option>
      <ion-select-option value="m">Hombre</ion-select-option>
    </ion-select>
  </ion-item>

  
  <form #formulario="ngForm" (ngSubmit) ="onSubmit()">

    <ion-list-header>
      <ion-label position="floating" color="warning">Formulario Válido: {{formulario.valid}} </ion-label>
    </ion-list-header> 

    <ion-item>
      <ion-label position="floating" color="secondary" class="font">Email: </ion-label>
      <ion-input class="font" type="email" placeholder="Email"
                 name="email" [(ngModel)]= "usuario.email"
                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="secondary" class="font">Contraseña: </ion-label> 
      <ion-input class="font" type="password" placeholder="Contraseña"
                 name="password" [(ngModel)]= "usuario.password"
                 required>

      </ion-input>
    </ion-item>

    <ion-button slot="start" expand="block" shape="round" [disabled] ="formulario.invalid"
        type="submit"  routerLink="/inicio">
      Registrarse
    </ion-button>

    <ion-button color="primary"   expand="block" slot="end" shape="round">
      Cancelar
    
    </ion-button>


  </form>
  

</ion-content>
      


      
    