.font{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}




ion-input {
    --color: #ffffff;
    --placeholder-color: #3880ff;
    --placeholder-font-style: initial;
    --placeholder-opacity: 0.5;
}

